body {
		width: 1000px;
		height: auto;
		margin: 0 auto;
		z-index: 2;
		background-image: url("../img/crvena.jpg");
	}

header {
		width: 1000px;
		height: 95;
		background-color:#A5010A;
		position: fixed;
		top: 0;
		z-index: 1;
	}

nav {
		width: 1000px;
		height: auto;
		margin: 0 auto;
		background-color: #2e3830;
		position: fixed;
		top: 95px;
		z-index: 1;
	}
		
main {	
		width: 1000px;
		height: auto;
		background-color: #F9EBBA;	
		margin-top: 132px;
	}

#content {
		width: 800px;
		float: left;
		display: inline-block;
		background-color: #F9EBBA;
		margin-bottom: 50px;			
	}

#sidebar {
		width: 200px;
		display: inline-block;
		background-color: #F6D381;
		padding-bottom: 30px;
	}

footer {
		width: 1000px;
		height: 50px;
		margin: 0 auto;
		background-color: #2e3830;
		position: fixed;
		bottom: 0;
		border: 1px solid #272B2B;
		color: white;
	}

header img {
		width: 80px;
		height: auto;
		display: inline-block;
		margin: 5px 10px;
		padding-left: 10px;
	}

header h1 {
		float: right;
		font-size: 2.5em;
		word-spacing: 0.1em;
		letter-spacing: 0.03em;
		color: white;
		padding-right: 150px;
		text-shadow:
     	-1px -1px 0 #EDAA28,  
     	 1px -1px 0 #EDAA28,
      	-1px 1px 0 #EDAA28,
      	 1px 1px 0 #EDAA28;
	}

nav ul {
		padding: 0;	
		margin: 0;
	}

nav li {
		display: inline-block;
		margin: 0;
		float: left;
	}

nav a {
	display: inline-block; 
	width: 100%; 
	box-sizing: border-box;
	text-decoration: none;
	color: #F5BC4E;
	border-right: 1px solid #F5BC4E;
	font-weight: 600;
	padding: 10px 20px;	
	margin: 0;
}

#dropdown {
	position: relative;
	display: inline-block;
}

#dropdown-content {
	display: none;
	position: absolute;
}

#dropdown-content a {
	font-weight: lighter;
	border: none;
	width: 100%;
	padding: 7.5px;
}

#dropdown-content li {
	list-style-type: none;
	padding: 0;
   	text-decoration: none;
   	display: block;
   	background-color: #2e3830;
   	text-align: justify;
   	width: 160px;  	
}

nav a:hover {
	background-color: rgb(233, 24, 35);
	color: white;
	opacity: 0.9;
	transition: .06s ease-in-out;
}

#dropdown:hover #dropdown-content {
	display: block;
}

#content p{
	padding: 0px 25px;
	text-indent: 20px;
	text-align: justify;
	line-height: 1.5em;
	}

#content h3 {
	padding: 10px 0px;
	color: #A5010B;
	text-align: center;
	font-weight: bolder;
	word-spacing: 0.2em;
	font-size: 1.3em;
	text-shadow:
     	-0.5px -0.5px 0 #A5010A,  
     	 0.5px -0.5px 0 #A5010A,
      	-0.5px 0.5px 0 #A5010A,
      	 0.5px 0.5px 0 #A5010A;
}

#content img:hover, #sidebar img:hover {
	opacity: 0.8;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

#photo1 {
	width: 250px;
	height: auto;
	float: left;
	display: inline-block;
	padding: 10px;
}

#photo2 {
	width: 160px;
	height: auto;
	float: right;
	display: inline-block;
	padding: 10px;
}

#photo3 {
	width: 270px;
	height: auto;
	float: left;
	display: inline-block;
	padding: 10px;
}

#photo4 {
	width: 250px;
	height: auto;
	float: right;
	display: inline-block;
	padding: 10px;
}

#photo5 {
	width: 250px;
	height: auto;
	float: left;
	display: inline-block;
	padding: 10px;
}

#photo6 {
	width: 250px;
	height: auto;
	float: right;
	display: inline-block;
	padding: 10px;
}

#sidebar h3 {
	text-align: center;
	color: #A5010A;
	font-weight: bolder;
	margin-top: 30px;
	text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
}

.sidephoto {
	width: 180px;
	height: auto;
	padding: 5px 10px;
	display: block;
	margin-bottom: 20px;
}

a p {
	margin: 0;
	padding: 0 5px;
	line-height: 1.4em;
	text-align: center;
}

footer p {
	font-size: 0.9em;
	margin: 0;
	padding: 0px 10px;
	text-align: left;
}

footer a{
	text-decoration: none;
	color:#F5BC4E;
}

footer a:hover {
	color: orange;
	font-size: 1em;
	text-decoration: underline;
}

 #stadion1 {
	padding: 5px 20px;
	display: inline-block;
}
#stadion2 {
	padding: 5px 20px;
	float: right;
	display: inline-block;
}
